<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{title}}{{' - ' if sitename and title}}{{sitename}}</title>
        <link rel="stylesheet" type="text/css" href="{{root}}/css/pygment.css" />
        <link rel="stylesheet" type="text/css" href="{{root}}/css/default.css" />
        <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
          tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
          processEscapes: true
          }
          });
        </script>
    </head>
    <body>
        <div id="main">
            <div id="header">
              {% block header %}<a href="{{root}}/index.html">{{sitename or 'Index'}}</a> >>{% endblock header %}
            </div>
            <div id="content">
                {% block contents %}{{ contents }}{% endblock contents %}
            </div>
            <div id="footer">
              (C) 2012 MIZUGUCHI Yasuhiko, gnerated by sitegen, Python.
            </div>
        </div>
    </body>

</html>
